Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [155]:
import pandas as pd
import numpy as np

In [156]:
df_orders = pd.read_csv('D:/Studia/St II Sem 1/PAD/4/orders.csv')
df_orders.head(20)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
5,2016/01/15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4
6,2014/11/25,6,HTS-479441-0001,479441,Hoodie,23.0,19
7,2014/11/01,10,HTS-352809-0001,352809,Black T-Shirt M,19.0,2
8,2013/11/03,10,HTS-494332-0001,494332,Wh Tshirt F,18.0,2
9,2013/10/02,14,HTS-463794-0001,463794,Tennis Shirt,24.0,1
10,2013/07/23,17,HTS-132885-0001,132885,Wh Tshirt M,20.0,1
11,2013/11/24,17,HTS-519113-0001,519113,Bl Tshirt F,17.5,1
12,2015/11/24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3
13,2015/10/10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3
14,2016/08/15,6,HTS-049348-0004,049348,Black T-Shirt F,17.5,1
15,2015/11/29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1
16,2015/10/09,10,HTS-989355-0003,989355,Hoodie,23.0,2
17,2015/03/26,11,HTS-679143-0002,679143,Hoodie,23.0,1
18,2016/04/24,12,HTS-301362-0001,301362,Black T-Shirt F,17.5,1
19,2016/01/16,15,HTS-1b0lnt-0002,1b0lnt,White T-Shirt M,20.0,1

In [157]:
df_orders['order_date'] = pd.to_datetime(df_orders['order_date'])
df_orders['order_date'][0]

Timestamp('2016-09-04 00:00:00')

In [158]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  datetime64[ns]
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 1.4+ MB

In [159]:
df_orders['tshirt_category'].value_counts()

Hoodie             6229
White T-Shirt M    5547
Black T-Shirt M    4454
White T-Shirt F    3513
Black T-Shirt F    3248
Tennis Shirt       2153
Wh Tshirt M         462
Bl Tshirt M         377
Wh Tshirt F         312
Bl Tshirt F         257
Name: tshirt_category, dtype: int64

In [160]:
# nie łatwiej to zrobić tak:
# (albo inaczej, czy to nie jest best practice skoro istnieje metoda stworzona dokładnie do zamiany str)
df_orders['tshirt_category'] = df_orders['tshirt_category'].str.replace('Wh Tshirt','White T-Shirt')
df_orders['tshirt_category'] = df_orders['tshirt_category'].str.replace('Bl Tshirt','Black T-Shirt')
df_orders['tshirt_category'].value_counts()

Hoodie             6229
White T-Shirt M    6009
Black T-Shirt M    4831
White T-Shirt F    3825
Black T-Shirt F    3505
Tennis Shirt       2153
Name: tshirt_category, dtype: int64

In [161]:
df_orders['tshirt_type'] = df_orders['tshirt_category'].apply(lambda x: x if len(x.split()) < 3 else 'T-shirt')

In [162]:
# nie jest napisane co ma się dziać dla bluz i koszulek tenisowych
df_orders['tshirt_size'] = df_orders['tshirt_category'].apply(lambda x: x[-1] if len(x.split()) > 2 else np.nan)

In [163]:
# też nie jest napisane co ma być jeśli chodzi o kolor dla powyższych
df_orders['tshirt_colour'] = df_orders['tshirt_category'].apply(lambda x: x.split()[0] if len(x.split()) > 2 else np.nan)

In [164]:
df_orders.head(20)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,T-shirt,M,White
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-shirt,M,White
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,T-shirt,F,White
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,T-shirt,F,White
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-shirt,M,White
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,T-shirt,F,Black
6,2014-11-25,6,HTS-479441-0001,479441,Hoodie,23.0,19,Hoodie,NaN,NaN
7,2014-11-01,10,HTS-352809-0001,352809,Black T-Shirt M,19.0,2,T-shirt,M,Black
8,2013-11-03,10,HTS-494332-0001,494332,White T-Shirt F,18.0,2,T-shirt,F,White
9,2013-10-02,14,HTS-463794-0001,463794,Tennis Shirt,24.0,1,Tennis Shirt,NaN,NaN
10,2013-07-23,17,HTS-132885-0001,132885,White T-Shirt M,20.0,1,T-shirt,M,White
11,2013-11-24,17,HTS-519113-0001,519113,Black T-Shirt F,17.5,1,T-shirt,F,Black
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3,Hoodie,NaN,NaN
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3,T-shirt,M,White
14,2016-08-15,6,HTS-049348-0004,049348,Black T-Shirt F,17.5,1,T-shirt,F,Black
15,2015-11-29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1,T-shirt,F,Black
16,2015-10-09,10,HTS-989355-0003,989355,Hoodie,23.0,2,Hoodie,NaN,NaN
17,2015-03-26,11,HTS-679143-0002,679143,Hoodie,23.0,1,Hoodie,NaN,NaN
18,2016-04-24,12,HTS-301362-0001,301362,Black T-Shirt F,17.5,1,T-shirt,F,Black
19,2016-01-16,15,HTS-1b0lnt-0002,1b0lnt,White T-Shirt M,20.0,1,T-shirt,M,White

In [165]:
df_orders[(df_orders['order_date'] >= '2014-12-31') & (df_orders['order_date'] <= '2016-08-2')]

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-shirt,M,White
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,T-shirt,F,Black
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3,Hoodie,NaN,NaN
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3,T-shirt,M,White
15,2015-11-29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1,T-shirt,F,Black
...,...,...,...,...,...,...,...,...,...,...
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,Black T-Shirt F,17.5,1,T-shirt,F,Black
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,White T-Shirt F,18.0,1,T-shirt,F,White
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,Hoodie,23.0,1,Hoodie,NaN,NaN
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,White T-Shirt M,20.0,4,T-shirt,M,White
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,T-shirt,M,White

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [166]:
df_customers = pd.read_csv('D:/Studia/St II Sem 1/PAD/4/customers.csv')

In [167]:
df_customers.head(20)

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
5,486658,F,1948/7/29,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,76.177.15.150,False
6,345231,F,1880/2/18,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:52.0) ...,174.83.130.76,False
7,vjavbl,F,1938/3/5,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,125.128.130.195,False
8,801797,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
9,037662,F,1939/8/11,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,126.217.132.156,False
10,180904,F,1983/2/2,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,42.226.241.79,True
11,851551,M,1987/10/14,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,108.245.154.218,False
12,884231,F,1951/11/29,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,69.127.96.134,False
13,2p9myw,F,1968/1/11,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,133.52.95.35,False
14,668263,F,1852/9/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,145.99.190.79,False
15,304621,M,1999/6/20,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,154.189.156.192,False
16,vft1eu,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
17,5tbc8x,M,1949/5/12,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,96.222.200.191,False
18,033992,M,1945/6/3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,169.169.81.173,True
19,800045,NaN,1978/3/3,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,60.222.102.47,True

In [168]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18766 entries, 0 to 18765
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  18766 non-null  object
 1   gender      16850 non-null  object
 2   birthdate   18766 non-null  object
 3   user_agent  18766 non-null  object
 4   ip_address  18766 non-null  object
 5   campaign    18766 non-null  bool
dtypes: bool(1), object(5)
memory usage: 751.5+ KB

In [169]:
df_customers.rename(columns={'customerID': 'customer_id'}, inplace=True)
df_customers.head()

,customer_id,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False

In [170]:
# nie jest również opisane dokładnie na jakiej zasadzie ma działać to połączenie, jeśli chcemy mieć tylko te wiersze dla których
# istnieje customer_id w obu dfach to najlepiej jest to zrobić tak:
df = pd.merge(df_orders, df_customers, how='inner', on='customer_id')

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25882 entries, 0 to 25881
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       25882 non-null  datetime64[ns]
 1   pages_visited    25882 non-null  int64
 2   order_id         25882 non-null  object
 3   customer_id      25882 non-null  object
 4   tshirt_category  25882 non-null  object
 5   tshirt_price     25882 non-null  float64
 6   tshirt_quantity  25882 non-null  int64
 7   tshirt_type      25882 non-null  object
 8   tshirt_size      17695 non-null  object
 9   tshirt_colour    17695 non-null  object
 10  gender           23238 non-null  object
 11  birthdate        25882 non-null  object
 12  user_agent       25882 non-null  object
 13  ip_address       25882 non-null  object
 14  campaign         25882 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(10)
memory usage: 3.0+ MB

In [172]:
df.head(20)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,T-shirt,M,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,White T-Shirt F,18.0,1,T-shirt,F,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,White T-Shirt M,20.0,2,T-shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,T-shirt,F,White,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
5,2016-06-20,10,HTS-vft1eu-0002,vft1eu,Hoodie,23.0,2,Hoodie,NaN,NaN,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
6,2015-09-14,15,HTS-vft1eu-0001,vft1eu,Hoodie,23.0,4,Hoodie,NaN,NaN,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
7,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,T-shirt,F,White,F,1959/10/22,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,51.99.199.27,False
8,2014-10-14,6,HTS-914324-0002,914324,Black T-Shirt F,17.5,1,T-shirt,F,Black,F,1959/10/22,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,51.99.199.27,False
9,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-shirt,M,White,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
10,2016-07-23,5,HTS-88ua9r-0002,88ua9r,Hoodie,23.0,2,Hoodie,NaN,NaN,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
11,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,T-shirt,F,Black,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
12,2015-05-09,13,HTS-061311-0002,061311,Black T-Shirt F,17.5,7,T-shirt,F,Black,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
13,2016-09-28,5,HTS-061311-0004,061311,White T-Shirt M,20.0,1,T-shirt,M,White,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
14,2014-09-07,12,HTS-061311-0001,061311,White T-Shirt F,18.0,1,T-shirt,F,White,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
15,2014-11-25,6,HTS-479441-0001,479441,Hoodie,23.0,19,Hoodie,NaN,NaN,F,1970/11/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,160.248.132.40,True
16,2016-08-13,12,HTS-479441-0003,479441,White T-Shirt F,18.0,18,T-shirt,F,White,F,1970/11/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,160.248.132.40,True
17,2015-10-25,11,HTS-479441-0002,479441,Hoodie,23.0,20,Hoodie,NaN,NaN,F,1970/11/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,160.248.132.40,True
18,2014-11-01,10,HTS-352809-0001,352809,Black T-Shirt M,19.0,2,T-shirt,M,Black,M,1961/2/17,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51....,168.254.125.251,False
19,2016-08-19,14,HTS-352809-0003,352809,Hoodie,23.0,1,Hoodie,NaN,NaN,M,1961/2/17,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51....,168.254.125.251,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [173]:
df.to_csv('result.csv', index=False)